langchain==0.1.12
langchain-community==0.0.27
streamlit==1.31.0
torch==2.2.0
transformers==4.37.2
pinecone-client==3.0.2
sentence-transformers==2.5.1
PyMuPDF==1.23.21
python-dotenv==1.0.0
protobuf==4.25.2
accelerate==0.27.2
bitsandbytes==0.41.3
safetensors==0.4.2
einops==0.7.0
pyyaml==6.0.1
